<ion-content>
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title></ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-category">
        <div routerLink="/home"><ion-icon name="home-outline"></ion-icon>&nbsp;&nbsp;Home</div>
        <div routerLink="/meals"><ion-icon name="fast-food-outline"></ion-icon>&nbsp;&nbsp;Meals</div>
        <div routerLink="/categories"><ion-icon name="grid-outline"></ion-icon>&nbsp;&nbsp;All Categories</div>
        <div routerLink="/bookings"><ion-icon name="checkbox-outline"></ion-icon>&nbsp;&nbsp;My Bookings</div>
        <div routerLink="/reviews"><ion-icon name="star-half-outline"></ion-icon>&nbsp;&nbsp;Reviews</div>
        <div routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;Calendar</div>
        <div routerLink="/careers"><ion-icon name="business-outline"></ion-icon>&nbsp;&nbsp;Careers</div>
        <div routerLink="/gallery"><ion-icon name="images-outline"></ion-icon>&nbsp;&nbsp;Gallery</div>
        <div routerLink="/about"><ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;About Us<hr></div>
        <div routerLink="/login"><ion-button>Login</ion-button></div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <!-- header of the page -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end"><ion-menu-button></ion-menu-button></ion-buttons>
        <ion-title>
          <div class="gg-title">
            <div><img src="../../assets/icon/gg-logo.png" alt="gg-logo" style="width: 40px; text-align: center;"></div>
            <div>The Place GianGaela's</div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- body of the page -->
    <ion-content class="ion-padding">
      <div class="begins">
        <h5>About Us</h5>
        <hr class="abt-line">
        <img src="../../assets/icon/abt-us.png" alt="abt-us">
        <p>&nbsp;&nbsp;
          Welcome to THE PLACE G&G Food Catering Services! At THE PLACE G&G Food Catering Services, we take pride in arranging, organizing, 
          and coordinating events according to our clients' specific requirements. We understand the importance of creating memorable 
          experiences and strive to exceed expectations through our attention to detail and personalized service.
        </p>
        <p>&nbsp;&nbsp;
          We are equipped with a dedicated team, service vehicles, catering materials, and other essential supplies to ensure a seamless and 
          enjoyable event. Our venue is designed to be conducive and accessible to everyone, offering a comfortable and welcoming atmosphere.
        </p>
        <p>&nbsp;&nbsp;
          In addition to our catering services, we are proud to have established Gian & Gaela's Pasta Corner, the very first Pasta Corner in 
          Lyceum of the Philippine Batangas Campus. We also operate G&G Canteen, conveniently located in front of Golden Gate General Hospital, 
          serving hospital employees and patient relatives. Moreover, we accept orders for outside clients through our food-to-go services.
        </p>
        <p>&nbsp;&nbsp;
          To further meet the diverse needs of our customers, we have introduced additional offerings. THE PLACE G&G Function Hall, 
          a two-storey air-conditioned hall located in Libjo Tacad, is available for various events. On the second floor, we have G&G MOM's Kitchen, 
          an Italian-Filipino restaurant that caters to pasta and pizza lovers.
        </p>
        <p>&nbsp;&nbsp;
          At G&G THE PLACE, we believe in giving back to the community. The success of our business enables us to contribute to the livelihood 
          of our staff from Simlong, Pinamucan, Mabacong, and nearby Barangays, providing opportunities for growth and development.
        </p>
        <p>&nbsp;&nbsp;
          At THE PLACE G&G Food Catering Services, we are committed to delivering exceptional food and service that exceed expectations. 
          Join us in creating unforgettable experiences for your next event.
        </p>
        <h5>Year 2000</h5>
        <p>&nbsp;&nbsp;
          With over two decades of experience in the food industry, we have been proudly serving the Batangas area and nearby provinces since the year 2000. 
          Our mission is to provide exceptional catering services for a wide range of events, including weddings, anniversaries, birthdays, 
          christenings, corporate activities, trainings, seminars, meetings, and parties.
        </p>
        <img src="../../assets/icon/mam-cecil.jpg" alt="mam-cecil">
        <h6><b>CECILIA COMO CARINGAL</b></h6>
        <p>&nbsp;&nbsp;
          Our owner, a graduate of BS Industrial Education major in Food Technology, possesses extensive knowledge and expertise in the field. 
          With 36 units in Masters in Business Management and Masters in Public Administration, as well as two years of study in the College of 
          Law, our owner's educational background and teaching experience in Business Entrepreneurship at the University of Batangas have 
          greatly contributed to the success of our business.
        </p>
      </div>
      <footer>
        <div class="bottom-part">
        <div>
          <p style="margin-bottom: 0px; font-weight: bold;">FOLLOW US ON SOCIALS</p>
        </div>
        <div class="social-media-icons">
          <div class="icons1"><a href="https://www.facebook.com/profile.php?id=100054265850213"><ion-icon name="logo-facebook"></ion-icon></a></div>
          <div class="icons1"><ion-icon name="logo-instagram"></ion-icon></div>
          <div class="icons1"><ion-icon name="logo-twitter"></ion-icon></div>
        </div>
        <div>
          <p style="margin-bottom: 3px; margin-top: 0px; font-weight: bold;">CONTACT US</p>
        </div>
        <div>
          <div class="icons2">
            <ion-icon name="location-outline"></ion-icon>
            National Road, Libjo Tacad, Batangas City
          </div>
          <div class="icons2">
            <ion-icon name="phone-portrait-outline"></ion-icon>
            +63 916-379-8315
          </div>
          <div class="icons2">
            <ion-icon name="time-outline"></ion-icon>
            9AM - 5PM
          </div>
        </div>
      </div>
      </footer>
    </ion-content>    
  </div>
</ion-content>