.abt-us {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
h2 {
  text-align: center;
}
.begins {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 40px;
  place-items: center;
  text-align: center;
}
.a2000,
.a2001,
.a2002 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.a2000-a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
