<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      The Place GianGaela's
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="abt-us">
    <h1>About Us</h1>
    <p>
      It is a long established fact that a reader will be distracted by the readable content of 
      a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
      normal distribution of letters, as opposed to using 'Content here, content here', making it look 
      like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum 
      as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in 
      their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on 
      purpose (injected humour and the like).
    </p>
  </div>
  <div>
    <h2>The Beginning of The Place</h2>
  </div>
  <div class="begins">
    <div class="a2000">
      <div>
        <div>2000</div>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      </div>
      <div class="a2000-a">
        <div><img src="../../assets/icon/favicon.png" alt=""></div>
        <div><img src="../../assets/icon/favicon.png" alt=""></div>
      </div>
    </div>
    <div class="a2001">
      <div class="a2001-a">
        <div><img src="../../assets/icon/favicon.png" alt=""></div>
      </div>
      <div>
        <div>2001</div>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      </div>
    </div>
    <div class="a2002">
      <div>
        <div>2002</div>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      </div>
      <div class="a2002-a">
        <div><img src="../../assets/icon/favicon.png" alt=""></div>
      </div>
    </div>

  </div>
</ion-content>