<ion-content>
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title></ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-category">
        <div routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;Calendar</div>
        <div routerLink="/careers"><ion-icon name="business-outline"></ion-icon>&nbsp;&nbsp;Careers</div>
        <div routerLink="/gallery"><ion-icon name="images-outline"></ion-icon>&nbsp;&nbsp;Gallery</div>
        <div routerLink="/about"><ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;About Us<hr></div>
        <div routerLink="/login"><ion-button>Login</ion-button></div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <!-- header of the page -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="gg-title">
            Booking
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- body of the page -->
    <ion-content class="ion-padding">
        <div class="client-info">
          <div>
            <h6>Client Information</h6>
          </div>
          <div class="client-info-tab">
            <p>First Name :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="First Name"></ion-input>
          </div>
          <div class="client-info-tab">
            <p>Last Name :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="Last Name"></ion-input>
          </div>
          <div class="client-info-tab">
            <p>Email :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="Email"></ion-input>
          </div>
          <div class="client-info-tab">
            <p>Mobile No. :</p>
          <ion-input label-placement="floating" fill="outline" placeholder="Mobile Number"></ion-input>
          </div>
          <div class="client-info-tab">
            <p>Landline No. :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="Landline Number"></ion-input>
          </div>
        </div>
        <hr>
        <div class="event-detail">
          <div>
            <h6>Event Details</h6>
          </div>
          <div class="event-info-tab">
            <p>Date :</p>
            <ion-datetime presentation="date"></ion-datetime>
            </div>
          <div class="event-info-tab">
            <p>Time :</p>
            <ion-datetime presentation="time"></ion-datetime>
          </div>
          <div class="event-info-tab">
            <p>Number of guests :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="Number of guests"></ion-input>
          </div>
          <div class="event-info-tab">
            <p>Type of event :</p>
            <ion-list>
              <ion-item>
                <ion-select label-placement="floating">
                  <ion-select-option value="wedding">Wedding</ion-select-option>
                  <ion-select-option value="debut">Debut</ion-select-option>
                  <ion-select-option value="birthday">Birthday</ion-select-option>
                  <ion-select-option value="chirstening">Christening</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>            
          </div>
          <div class="event-info-tab">
            <p>Type of venue :</p>
            <ion-list>
              <ion-item>
                <ion-select label-placement="floating">
                  <ion-select-option value="indoor">Indoor</ion-select-option>
                  <ion-select-option value="outdoor">Outdoor</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <hr>
        
    </ion-content>    
  </div>
</ion-content>

