<ion-content>
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title></ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-category">
        <div routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;Calendar</div>
        <div routerLink="/careers"><ion-icon name="business-outline"></ion-icon>&nbsp;&nbsp;Careers</div>
        <div routerLink="/gallery"><ion-icon name="images-outline"></ion-icon>&nbsp;&nbsp;Gallery</div>
        <div routerLink="/about"><ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;About Us<hr></div>
        <div routerLink="/login"><ion-button>Login</ion-button></div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <!-- header of the page -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="gg-title">
            <div><img src="../../assets/icon/gg-logo.png" alt="gg-logo" style="width: 40px; text-align: center;"></div>
            <div>The Place GianGaela's</div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- body of the page -->
    <ion-content class="ion-padding">
        <div class="client-info">
          <div>
            <h6>Client Information</h6>
          </div>
          <div>
            <p>First Name :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="First Name"></ion-input>
          </div>
          <div>
            <p>Last Name :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="Last Name"></ion-input>
          </div>
          <div>
            <p>Email :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="Email"></ion-input>
          </div>
          <div>
            <p>Mobile No. :</p>
          <ion-input label-placement="floating" fill="outline" placeholder="Mobile Number"></ion-input>
          </div>
          <div>
            <p>Landline No. :</p>
            <ion-input label-placement="floating" fill="outline" placeholder="Landline Number"></ion-input>
          </div>
          <div>
            <ion-button>NEXT</ion-button>
          </div>
        </div>
        <div class="event-detail">
          
        </div>
    </ion-content>    
  </div>
</ion-content>