<!-- <ion-content>
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-category">
        <div class="menu" routerLink="/home">Home</div>
        <div class="menu" routerLink="/meals">Meals</div>
        <div class="menu" routerLink="/categories">All Categories</div>
        <div class="menu" routerLink="/bookings">My Bookings</div>
        <div class="menu" routerLink="/reviews">Reviews</div>
        <div class="menu" routerLink="/calendar">Calendar</div>
        <div class="menu" routerLink="/careers">Careers</div>
        <div class="menu" routerLink="/gallery">Gallery</div>
        <div class="menu" routerLink="/about">About Us<br><hr></div>
        <br>
        <div routerLink="/login">
          <ion-button>Login</ion-button>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    header of the page
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="gg-title">
            <div><img src="../../assets/icon/gg-logo.png" alt="gg-logo" style="width: 40px; text-align: center;"></div>
            <div>The Place GianGaela's</div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    body of the page
    <ion-content class="ion-padding">
      <div style="height: 500px;">

      </div>
    </ion-content>    
  </div>
</ion-content> -->

<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-label><ion-icon name="home-outline"></ion-icon></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="meals">
      <ion-label><ion-icon name="fast-food-outline"></ion-icon></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-label><ion-icon name="grid-outline"></ion-icon></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bookings">
      <ion-label><ion-icon name="checkbox-outline"></ion-icon></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>