@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

.gg-title {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  font-family: 'Gelasio', sans-serif;
}
.logo-gg {
  width: 40px;
  margin-left: 5px;
}
.login-btn {
  font-weight: bolder;
  font-size: 15px;
  margin-left: 80px;
}
.menu-category {
  display: grid;
  grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
  font-weight: 400;
  margin-left: 5px;
  font-family: 'Poppins', sans-serif;
}
h5 {
  font-family: 'Gelasio', serif;
}
hr {
  border: 1px solid #ffffff;
}
.social-media-icons {
  display: grid;
  font-size: 35px;
  grid-template-columns: 35px 35px 35px;
  column-gap: 10px;
}
.icons2 {
  font-size: 17px;
  margin-bottom: 5px;
}
