<ion-content>
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title></ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-category">
        <div routerLink="/home"><ion-icon name="home-outline"></ion-icon>&nbsp;&nbsp;Home</div>
        <div routerLink="/meals"><ion-icon name="fast-food-outline"></ion-icon>&nbsp;&nbsp;Meals</div>
        <div routerLink="/categories"><ion-icon name="grid-outline"></ion-icon>&nbsp;&nbsp;All Categories</div>
        <div routerLink="/bookings"><ion-icon name="checkbox-outline"></ion-icon>&nbsp;&nbsp;My Bookings</div>
        <div routerLink="/reviews"><ion-icon name="star-half-outline"></ion-icon>&nbsp;&nbsp;Reviews</div>
        <div routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;Calendar</div>
        <div routerLink="/careers"><ion-icon name="business-outline"></ion-icon>&nbsp;&nbsp;Careers</div>
        <div routerLink="/gallery"><ion-icon name="images-outline"></ion-icon>&nbsp;&nbsp;Gallery</div>
        <div routerLink="/about"><ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;About Us<hr></div>
        <div routerLink="/login"><ion-button>Login</ion-button></div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <!-- header of the page -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="gg-title">
            <div><img src="../../assets/icon/gg-logo.png" alt="gg-logo" style="width: 40px; text-align: center;"></div>
            <div>The Place GianGaela's</div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- body of the page -->
    <ion-content class="ion-padding">
      <div>
        <h6>The Place Signature Plated Menu</h6>
        <p>
          Our dedication to culinary creativity and innovation enables us to update our plated buffet 
          service on a regular basis, ensuring that you always have a wide selection of delicious catering 
          menu packages to choose from, whether you're craving Filipino or foreign cuisine or something 
          curated to your exact specifications.
        </p>
      </div>
      <hr>
      <div class="plated-menu">
        <div class="plate-design">
          <div><h6>Filipino Plated Menu</h6></div>
          <div><img src="../../assets/icon/filipino-plated.jpg" alt=""></div>
          <div><p>
            Filipino cuisine is sometimes recognized as the world's first genuinely multinational cuisine. 
            The distinct flavor, originality, and diversity of Filipino food never cease to astonish visitors 
            and natives alike. Filipino food is special because it incorporates numerous culinary traditions; 
            for example, practically every dish reflects the influence of Spanish, Chinese, Indian, and Western cuisine.
          </p></div>
        </div>
        <div class="plate-design">
          <div><h6>Italian Plated Menu</h6></div>
          <div><img src="../../assets/icon/italian-plated.jpg" alt=""></div>
          <div><p>
            We invite you to savor the authentic flavors of Italy in every delectable dish. Our menu is 
            a celebration of Italian culinary traditions, prepared with passion and using only the finest 
            ingredients. Prepare to be transported to the sun-kissed landscapes of Italy with our carefully curated selection.
          </p></div>
        </div>
        <div class="plate-design">
          <div><h6>American Plated Menu</h6></div>
          <div><img src="../../assets/icon/american-plated.jpg" alt=""></div>
          <div><p>
            American plated dishes offer a culinary journey that celebrates the 
            diverse flavors of American cuisine. These dishes blend traditional 
            recipes with contemporary twists, showcasing regional ingredients and 
            culinary heritage. 
          </p></div>
        </div>
        <div class="plate-design">
          <div><h6>Pizza Plated Menu</h6></div>
          <div><img src="../../assets/icon/pizza-plated.jpg" alt=""></div>
          <div><p>
            Culinary artistry meets the timeless charm of pizza. Our menu features a delectable 
            selection of handcrafted pizzas, thoughtfully curated to tantalize your taste buds. 
            Indulge in our exquisite creations, each crafted with the finest ingredients and a touch of passion.
          </p></div>
        </div>
        <div class="plate-design">
        <div><h6>Pasta Plated Menu</h6></div>
          <div><img src="../../assets/icon/pasta.jpg" alt=""></div>
          <div><p>
            Our pasta plated dishes offer a journey through the rich culinary heritage of Italy. 
            Each plate is meticulously prepared to provide a memorable and indulgent pasta experience. 
            Whether you're a fan of timeless classics or innovative creations, our pasta dishes showcase 
            a harmonious blend of textures, aromas, and flavors. With options ranging from creamy to 
            tomato-based or herb-infused sauces, our pasta plates are expertly crafted to satisfy your 
            cravings and transport you to the vibrant streets of Italy. Prepare to immerse yourself 
            in the comfort and exquisite flavors of our pasta offerings.
          </p></div>
        </div>
      </div>
    </ion-content>    
  </div>
</ion-content>