<ion-content>
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title></ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-category">
        <div routerLink="/menu/home"><ion-icon name="home-outline"></ion-icon>&nbsp;&nbsp;Home</div>
        <div routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;Calendar</div>
        <div routerLink="/careers"><ion-icon name="business-outline"></ion-icon>&nbsp;&nbsp;Careers</div>
        <div routerLink="/gallery"><ion-icon name="images-outline"></ion-icon>&nbsp;&nbsp;Gallery</div>
        <div routerLink="/about"><ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;About Us<hr></div>
        <div routerLink="/login"><ion-button>Login</ion-button></div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <!-- header of the page -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="gg-title">
            Gallery
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- body of the page -->
    <ion-content class="ion-padding">
      <p>July 9, 2023</p>
      <div>
        <img src="../../assets/icon/img1-1.jpg" alt="jul9">
        <img src="../../assets/icon/img1-2.jpg" alt="jul9">
        <img src="../../assets/icon/img1-3.jpg" alt="jul9">
      </div>
      <p>July 7, 2023</p>
      <div>
        <img src="../../assets/icon/img2-1.jpg" alt="jul7">
        <img src="../../assets/icon/img2-2.jpg" alt="jul7">
        <img src="../../assets/icon/img2-3.jpg" alt="jul7">
        <img src="../../assets/icon/img2-4.jpg" alt="jul7">
      </div>
      <p>June 22, 2023</p>
      <div>
        <img src="../../assets/icon/img3-1.jpg" alt="jun22">
        <img src="../../assets/icon/img3-2.jpg" alt="jun22">
        <img src="../../assets/icon/img3-3.jpg" alt="jun22">
        <img src="../../assets/icon/img3-4.jpg" alt="jun22">
      </div>
      <p>May 12, 2023</p>
      <div>
        <img src="../../assets/icon/img4-1.jpg" alt="may12">
        <img src="../../assets/icon/img4-2.jpg" alt="may12">
        <img src="../../assets/icon/img4-3.jpg" alt="may12">
        <img src="../../assets/icon/img4-4.jpg" alt="may12">
      </div>
    </ion-content>    
  </div>
</ion-content>