<ion-content>
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title></ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-category">
        <div routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;Calendar</div>
        <div routerLink="/careers"><ion-icon name="business-outline"></ion-icon>&nbsp;&nbsp;Careers</div>
        <div routerLink="/gallery"><ion-icon name="images-outline"></ion-icon>&nbsp;&nbsp;Gallery</div>
        <div routerLink="/about"><ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;About Us<hr></div>
        <div routerLink="/login"><ion-button>Login</ion-button></div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <!-- header of the page -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="gg-title">
            <div><img src="../../assets/icon/gg-logo.png" alt="gg-logo" style="width: 40px; text-align: center;"></div>
            <div>The Place GianGaela's</div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- body of the page -->
    <ion-content class="ion-padding">
      <div class="jobs">
        <img src="../../assets/icon/wedding.jpg" alt="wedding">
        <ion-button color="dark" expand="block" (click)="setOpen(true, 'Wedding')">Wedding and Anniversaries</ion-button>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>{{toBeDisplay.title}}</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false, '')">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <h4>The Place G&G's Classic  Star</h4>
              <p>&nbsp;&nbsp;{{toBeDisplay.description}}</p>
              <h4>Package Inclusion</h4>
              <p>
              <!-- Loop through the array and display each value -->
               <ng-container *ngFor="let item of toBeDisplay.qualifications">
                  -&nbsp;{{ item }}&nbsp;
                  <br>
                </ng-container>
              </p>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
      <br>
    <div class="jobs">
      <div><img src="../../assets/icon/baptismal.jpg" alt="baptismal"></div>
      <div><ion-button color="dark" expand="block" (click)="setOpen(true, 'Baptismal')">Baptismal & Family Events </ion-button></div>
    </div>
    <br>
    <div class="jobs">
      <div><img src="../../assets/icon/debut.jpg" alt="debuts"></div>
      <div><ion-button color="dark" expand="block" (click)="setOpen(true, 'Debuts')">Debuts and Birthdays</ion-button></div>
    </div>
    <br>
    <div class="jobs">
      <div><img src="../../assets/icon/corporate.jpeg" alt="corporate"></div>
      <div><ion-button color="dark" expand="block" (click)="setOpen(true, 'Debuts')">Corporate Event & Product Lunches</ion-button></div>
    </div>
    <br>
    <div class="jobs">
      <div><img src="../../assets/icon/meeting.jpg" alt="corporate"></div>
      <div><ion-button color="dark" expand="block" (click)="setOpen(true, 'Debuts')">Meeting & Seminar Events</ion-button></div>
    </div>
    </ion-content>    
  </div>
</ion-content>