<ion-content class="content">
  <div class="first">
    <div>
      <img src="../../assets/icon/gg-logo.png" class="gg-logo" alt="logo">
    </div>
    <div>
      <h1 class="gg-title">The Place GianGaela's</h1>
    </div>
  </div>

  <div class="second">
    <div>
      <div class="second-text">Enter your email</div>
      <ion-input label-placement="floating" fill="outline"></ion-input>
    </div>
    <div>
      <div class="second-text">Create a password</div>
      <ion-input label-placement="floating" fill="outline" type="password"></ion-input>
    </div>
    <div>
      <div class="second-text">Enter a username</div>
      <ion-input label-placement="floating" fill="outline"></ion-input>
    </div>
    <div>
      <!-- <ion-button size="small" color="dark" shape="round" class="signup-btn">Sign up</ion-button> -->
      <ion-button size="small">Sign up</ion-button>
    </div>
  </div>
  <div class="third-text">
    Have an account? <span routerLink="/login">Login</span>
  </div>
</ion-content>