@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

ion-content.content {
  --background: url(../../assets/icon/bg.png);
}
.first {
  display: grid;
  grid-template-rows: 1fr 100px;
  margin-top: 90px;
  color: #000;
}
.gg-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.gg-title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
.second {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: 90px 90px 90px 50px 1fr;
  margin-left: 20px;
  margin-right: 20px;
  color: #000;
}
.second-text {
  padding-left: 5px;
}
ion-button {
  --background: #fac43a;
  color: #000;
  border-radius: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
}
ion-input{
  --padding-end: 10px;
  --padding-start: 10px;
  color: #000;
}
.third-text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #000;
  height: 100px;
}
span {
  cursor: pointer;
  text-decoration: underline;
}