<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-content class="content">
  <div class="first">
    <div>
      <img src="../../assets/icon/gg-logo.png" class="gg-logo" alt="logo">
    </div>
    <div>
      <h1 class="gg-title">The Place GianGaela's</h1>
    </div>
  </div>
  <div class="second">
    <div>
      <div class="second-text">Enter your email</div>
      <div><ion-textarea fill="outline" placeholder="Enter your email"></ion-textarea></div>
    </div>
    <div>
      <div class="second-text">Create password</div>
      <div><ion-textarea fill="outline" placeholder="Create password"></ion-textarea></div>
    </div>
    <div>
      <div class="second-text">Enter a username</div>
      <div><ion-textarea fill="outline" placeholder="Enter a username"></ion-textarea></div>
    </div>
    <div>
      <ion-button size="small" color="dark" shape="round" class="signup-btn">Sign up</ion-button>
    </div>
  </div>
  <div class="third-text">
    Have an account? <a>Login</a>
  </div>
</ion-content>