<ion-content>
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title></ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-category">
        <div routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;Calendar</div>
        <div routerLink="/careers"><ion-icon name="business-outline"></ion-icon>&nbsp;&nbsp;Careers</div>
        <div routerLink="/gallery"><ion-icon name="images-outline"></ion-icon>&nbsp;&nbsp;Gallery</div>
        <div routerLink="/about"><ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;About Us<hr></div>
        <div routerLink="/login"><ion-button>Login</ion-button></div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <!-- header of the page -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="gg-title">
            Reviews and feedback
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- body of the page -->
    <ion-content class="ion-padding">
      <div class="review-table">
        <div><h6>"Sarap!"</h6></div>
        <div class="star-icon">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
        <div>
          <p>
            As always SARAP! Salamat!
          </p>
        </div>
        <div class="review-table-flex">
          <div><p>John Doe &nbsp;|&nbsp; 2 weeks ago</p></div>
          <div>
            <ion-icon name="thumbs-up-outline"></ion-icon>&nbsp;10
            <ion-icon name="thumbs-down-outline"></ion-icon>&nbsp;0
          </div>
        </div>
      </div>
      <hr>
      <div class="review-table">
        <div><h6>"Very Good"</h6></div>
        <div class="star-icon">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
        <div>
          <p>
            Thank you so much for being part of my 18th birthday!
            The foods great! Hope to work with y'all again soon.
          </p>
        </div>
        <div class="review-table-flex">
          <div><p>Marie Dela Cruz &nbsp;|&nbsp; 1 month ago</p></div>
          <div>
            <ion-icon name="thumbs-up-outline"></ion-icon>&nbsp;20
            <ion-icon name="thumbs-down-outline"></ion-icon>&nbsp;0
          </div>
        </div>
      </div>
      <hr>
      <div class="review-table">
        <div><h6>"Best food and Best service"</h6></div>
        <div class="star-icon">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
        <div>
          <p>
            The staff is approachable, and the food was delicious!
          </p>
        </div>
        <div class="review-table-flex">
          <div><p>Juan Dela Cruz &nbsp;|&nbsp; 1 month ago</p></div>
          <div>
            <ion-icon name="thumbs-up-outline"></ion-icon>&nbsp;14
            <ion-icon name="thumbs-down-outline"></ion-icon>&nbsp;1
          </div>
        </div>
      </div>
      <hr>
      <div class="review-table">
        <div><h6>"Can do better"</h6></div>
        <div class="star-icon">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
        <div>
          <p>
            Poor service, not satisfied and unapproachable staffs.
          </p>
        </div>
        <div class="review-table-flex">
          <div><p>Jane Doe &nbsp;|&nbsp; 3 months ago</p></div>
          <div>
            <ion-icon name="thumbs-up-outline"></ion-icon>&nbsp;5
            <ion-icon name="thumbs-down-outline"></ion-icon>&nbsp;15
          </div>
        </div>
      </div>
      <div>
        <ion-button class="add-btn" expand="block" (click)="setOpen(true)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Give Feedback</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <div class="give-feedback">
                <div class="star-icon">
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
                <div>
                  <ion-input label="Give your review a title (optional)" label-placement="floating" fill="outline" placeholder="Give your review a title (optional)"></ion-input>
                </div>
                <div>
                  <ion-input label="Share your experience with us" label-placement="floating" fill="outline" placeholder="Share your experience with us"></ion-input>
                </div>
                <div>
                  <!-- <ion-button>Submit</ion-button> -->
                  <ion-button id="submit-alert">Submit</ion-button>
                  <ion-alert
                    trigger="submit-alert"
                    header="Feedback alert"
                    message="Successfully send feedback"
                    [buttons]="alertButtons"
                  ></ion-alert>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-content>    
  </div>
</ion-content>

