<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">calendar</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1>Calendar</h1>
  </div>
  <div class="calendar">
    <ion-datetime presentation="date"></ion-datetime>
  </div>
</ion-content>