<ion-content class="content">
  //menu or the hamburger menu of the page
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title></ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="padding">
      <div class="menu-category">
        <div routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;Calendar</div>
        <div routerLink="/careers"><ion-icon name="business-outline"></ion-icon>&nbsp;&nbsp;Careers</div>
        <div routerLink="/gallery"><ion-icon name="images-outline"></ion-icon>&nbsp;&nbsp;Gallery</div>
        <div routerLink="/about"><ion-icon name="people-outline"></ion-icon>&nbsp;&nbsp;About Us<hr></div>
        <div routerLink="/login"><ion-button>Login</ion-button></div>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <!-- header of the page -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="gg-title">
            <div><img src="../../assets/icon/gg-logo.png" alt="gg-logo" style="width: 40px; text-align: center;"></div>
            <div>The Place GianGaela's</div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- body of the page -->
    <ion-content class="ion-padding">
      <div class="jobs">
        <div>
          <img src="../../assets/icon/1.jpg" alt="" class="first-event"></div>
        <div>
          <ion-button color="dark" expand="block" (click)="setOpen(true, 'Event1')">Marie & Juan Wedding</ion-button>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{toBeDisplay.title}}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false, '')">Close</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <div class="event-description">
                  <h6>Event Title :</h6>
                  <p>{{toBeDisplay.description}}</p>
                </div>
                <div class="event-description">
                  <h6>Event Description :</h6>
                  <p>
                  <!-- Loop through the array and display each value -->
                  <ng-container *ngFor="let item of toBeDisplay.qualifications">
                    -&nbsp;{{ item }}&nbsp;
                    <br>
                  </ng-container>
                </p>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
      <br>
      <div class="jobs">
        <div><img src="../../assets/icon/2.jpg" alt="" class="first-event"></div>
        <div><ion-button color="dark" expand="block" (click)="setOpen(true, 'Event2')">John Doe 7th Birthday</ion-button></div>
      </div>
      <br>
      <div class="jobs">
        <div><img src="../../assets/icon/3.jpg" alt="" class="first-event"></div>
        <div><ion-button color="dark" expand="block" (click)="setOpen(true, 'Event3')">Jane Doe 18th Birthday</ion-button></div>
      </div>
    </ion-content>    
  </div>
</ion-content>