// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 2.6%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

// body {
//   margin-bottom: 100px;
// }
.gg-title {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  font-family: 'Gelasio', sans-serif;
}
.upper-part {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  font-weight: bolder;
}
// .logo-gg {
//   width: 50px;
//   margin-left: 5px;
// }
.login-btn {
  font-weight: bolder;
  font-size: 15px;
  margin-left: 80px;
}
.menu-category {
  display: grid;
  grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
  font-weight: 400;
  margin-left: 5px;
  font-family: 'Poppins', sans-serif;
}
h5 {
  font-family: 'Gelasio', serif;
}
hr {
  border: 1px solid #ffffff;
}
.home-event {
  text-align: center;
}
.first-event {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
  border-radius: 17px;
}
.social-media-icons {
  display: grid;
  font-size: 35px;
  grid-template-columns: 35px 35px 35px;
  column-gap: 10px;
}
.icons2 {
  font-size: 17px;
  margin-bottom: 5px;
}